body {
    font-family: 'Lato', sans-serif;
    color: white;
    box-sizing: border-box;
}

main {
    background-color: #70C67C;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 45%;
    margin-bottom: 15px;
}

.label--coming-soon {
    color: #70C67C;
    background-color: white;
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: bold;
    display: inline-block;
}